include COPYING LICENSE.txt *.rst *.html
recursive-include graphterm *.py *.js *.css *.html *.md *.rst *.txt *.gif *.jpg *.png
recursive-include docs *.md *.rst
graft graphterm/bin
graft graphterm/certs
global-exclude *~ *.pyc test*
